<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>게시판</title>
</head>

<body>
<form th:action="@{/edit}"  >
    <input type="hidden" name="id" th:value="${user.id}" />
    <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${cri.currentPageNo} ">
    <input type="hidden" id="recordsPerPage" name="recordsPerPage" th:value="${cri.recordsPerPage}"/>
    <input type="hidden" id="pageSize" name="pageSize" th:value="${cri.pageSize}"/>
    <input type="hidden" id="searchType" name="searchType" th:value="${cri.searchType}"/>
    <input type="hidden" id="searchKeyword" name="searchKeyword" th:value="${cri.searchKeyword}"/>

    이름 : <input type="text" name="userName" th:value="${user.userName}" > <br>
        이메일 : <input type="text" name="userEmail" th:value="${user.userEmail}"> <br>

    <input type="submit" value="수정">
</form>
</body>

<div class="" th:object="${cri}">
    <a th:href="|@{/return}*{makeQueryString(currentPageNo)}|" class="">뒤로가기</a>
</div>
</html>
