<!doctype html>
<html>
<head lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">
	<title>SalesOn Demo</title>
	<!-- Bootstrap core CSS -->
</head>
<body>
<div id="saleson">
	<layout-header></layout-header>

	<section class="contents login_contents">
		<div class="tit_wrap">
			<h2 class="tit">로그인</h2>
		</div>
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="form_wrap_line">

						<form @submit.prevent="submit">
							<fieldset>
								<legend>로그인</legend>
								<div class="form-group">
									<input type="text" id="id" name="loginId" v-model="loginRequest.loginId" class="form-control line"
									       placeholder="아이디" title="아이디" required>
								</div>
								<div class="form-group">
									<input type="password" id="pw" name="password" ref="pap" v-model="loginRequest.password" autocomplete="off"
									       class="form-control line" placeholder="비밀번호" title="비밀번호" required>
								</div>
								<div class="login_utile">
								</div>
								<div class="btn-group">
									<button type="submit" class="btn btn_lg btn_primary">로그인</button>
								</div>
							</fieldset>
						</form>
					</div>
<my-component></my-component>
					<div class="login_nomem">
						<p class="join_link">회원이 아니신가요?<a href="/users/join.html">회원가입</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<layout-footer></layout-footer>
</div>

<!-- JavaScript -->
<!-- 404뜸. 8080/modules/op.vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<script src="/httpVueLoader.js"></script>
<script src="/op.config.js"></script>
<script src="/op.saleson.js"></script>
<script type="text/babel" src="/op.vue.js"></script>
<script type="text/babel">

	Vue.component('my-component', {
		template : `<div>aaa</div>`
	});

	const vm = new Vue({
		el: '#saleson',
		data: {
			loginRequest: {
				loginType: 'ROLE_USER',
				loginId: '',
				password: '',
			},
			saveId: false,
			target: $s.pages.INDEX,
		},
		methods: {
			submit: function () {

				console.log(vm.loginRequest.loginId);	//확인됨

				// 인증하는부분
				$s.api.getAuthToken(vm.loginRequest, function () {		//id, pw값 넘김 , req로 받음

					//주문정보 등 추가사항

				}, function (error) {

					$s.alert('아이디/비밀번호를 정확히 입력해 주세요.', function () {
						vm.loginRequest.loginId = '';
						vm.loginRequest.password = '';
						$s.closeAlert();
					});
				});
			},
		},

		mounted: function () {
			this.$nextTick(function () {

				Saleson.init();
			});
		}
	});

</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>
</head>
</html>
