<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlinepowers.springmybatis.user.UserMapper">
    <resultMap id="userMap" type="com.onlinepowers.springmybatis.user.UserDto">
        <result column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_ID" property="userId" />
        <result column="USER_PW" property="userPw" />
        <result column="USER_EMAIL" property="userEmail" />
        <result column="USER_DATE" property="userDate" />
    </resultMap>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM OP_USER
    </select>

    <select id="getUserList" resultMap="userMap">
        SELECT ID, USER_NAME, USER_ID, USER_PW, USER_EMAIL,
        DATE_FORMAT(USER_DATE, '%Y/%m/%d %H:%i:%s') USER_DATE FROM OP_USER
    </select>

    <select id="getUser"  resultMap="userMap">
        SELECT ID, USER_NAME, USER_ID, USER_PW, USER_EMAIL, USER_DATE FROM OP_USER
        WHERE ID=#{ID}
    </select>

    <delete id="deleteUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        DELETE FROM OP_USER
        WHERE id =#{id}
    </delete>

    <insert id="insertUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO OP_USER VALUES (0, #{userName}, #{userId} , #{userPw}, #{userEmail},
                                    DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'))
    </insert>

    <update id="updateUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        UPDATE OP_USER SET USER_NAME=#{userName}, USER_EMAIL=#{userEmail}
        WHERE ID=#{id}
    </update>

</mapper>