<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinepowers.springmybatis.user.UserMapper">
    <resultMap id="userMap" type="com.onlinepowers.springmybatis.user.User">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="LOGIN_ID" property="loginId" />
        <result column="PASSWORD" property="password" />
        <result column="EMAIL" property="email" />
        <result column="CREATED_DATE" property="createdDate" />
        <association property="userDetail" resultMap="userDetailMap" />
        <association property="userRole" resultMap="userRoleMap" />
    </resultMap>
    <resultMap id="userDetailMap" type="com.onlinepowers.springmybatis.user.UserDetail">
        <id column="USER_ID" property="userId" />
        <result column="ZIPCODE" property="zipcode" />
        <result column="ADDRESS" property="address" />
        <result column="ADDRESS_DETAIL" property="addressDetail" />
        <result column="PHONE_NUMBER" property="phoneNumber" />
        <result column="RECEIVE_SMS" property="receiveSms" />
    </resultMap>
    <resultMap id="userRoleMap" type="com.onlinepowers.springmybatis.user.UserRole">
        <id column="USER_ID" property="userId" />
        <result column="AUTHORITY" property="authority" />
    </resultMap>

    <select id="getCountByParam" resultType="int"
            parameterType="com.onlinepowers.springmybatis.user.User">
        SELECT
            COUNT(*)
        FROM
            OP_USER U
        INNER JOIN OP_USER_DETAIL UD ON U.ID = UD.USER_ID
        <include refid="search" />
    </select>

    <select id="getPasswordById" resultType="String"
            parameterType="com.onlinepowers.springmybatis.user.User">
        SELECT PASSWORD FROM OP_USER WHERE ID = #{id}
    </select>

    <select id="getUserList" resultMap="userMap"
            parameterType="com.onlinepowers.springmybatis.user.User">
        SELECT
            ID,
            NAME,
            LOGIN_ID,
            PASSWORD,
            EMAIL,
            DATE_FORMAT(CREATED_DATE, '%Y/%m/%d %H:%i:%s') CREATED_DATE,
            ZIPCODE,
            ADDRESS,
            ADDRESS_DETAIL,
            PHONE_NUMBER,
            RECEIVE_SMS,
            AUTHORITY
        FROM
            OP_USER AS U
        INNER JOIN OP_USER_DETAIL AS UD ON U.ID = UD.USER_ID
        INNER JOIN OP_USER_ROLE AS UR ON UD.USER_ID = UR.USER_ID
        <include refid="search" />
        ORDER BY ID DESC
        <include refid="paging" />
    </select>

    <!--include sql문들-->
    <sql id="paging">
        LIMIT
        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </sql>

    <sql id="search">
        <if test="searchKeyword != null and searchKeyword != ''">
            WHERE
            <choose>
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'name'.equals(searchType)">
                            NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'loginId'.equals(searchType)">
                            LOGIN_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'email'.equals(searchType)">
                            EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'zipcode'.equals(searchType)">
                            ZIPCODE LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'address'.equals(searchType)">
                            ADDRESS LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'addressDetail'.equals(searchType)">
                            ADDRESS_DETAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'phoneNumber'.equals(searchType)">
                            PHONE_NUMBER LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <otherwise>
                    (
                    NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR LOGIN_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR ZIPCODE LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR ADDRESS LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR ADDRESS_DETAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR PHONE_NUMBER LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="getUserById"  resultMap="userMap">
        SELECT
            ID,
            NAME,
            LOGIN_ID,
            PASSWORD,
            EMAIL,
            DATE_FORMAT(CREATED_DATE, '%Y/%m/%d %H:%i:%s') AS CREATED_DATE,
            ZIPCODE,
            ADDRESS,
            ADDRESS_DETAIL,
            PHONE_NUMBER,
            RECEIVE_SMS,
            AUTHORITY
        FROM
            OP_USER U
        INNER JOIN OP_USER_DETAIL UD ON U.ID = UD.USER_ID
        INNER JOIN OP_USER_ROLE AS UR ON UD.USER_ID = UR.USER_ID
        WHERE ID=#{id}
    </select>

    <delete id="deleteUserById"
            parameterType="com.onlinepowers.springmybatis.user.User">
        DELETE
        FROM OP_USER
        WHERE id = #{id}
    </delete>

    <insert id="insertUser"
            parameterType="com.onlinepowers.springmybatis.user.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO OP_USER
            (ID,
            NAME,
            LOGIN_ID,
            PASSWORD,
            EMAIL,
            CREATED_DATE)
        VALUES
            (0,
            #{name},
            #{loginId} ,
            #{password},
            #{email},
            DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
            );
    </insert>
    <insert id="insertUserDetail"
            parameterType="com.onlinepowers.springmybatis.user.User"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="int" keyProperty="userId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO OP_USER_DETAIL
            (USER_ID,
            ZIPCODE,
            ADDRESS,
            ADDRESS_DETAIL,
            PHONE_NUMBER,
            RECEIVE_SMS)
        VALUES
            (#{userId},
            #{zipcode},
            #{address},
            #{addressDetail},
            #{phoneNumber},
            #{receiveSms}
            );
    </insert>
    <insert id="insertUserRole"
            parameterType="com.onlinepowers.springmybatis.user.User"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="int" keyProperty="userId" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO OP_USER_ROLE
            (USER_ID,
             AUTHORITY)
        VALUES
            (#{userId},
            #{authority}
            );
    </insert>

    <update id="updateUser"
            parameterType="com.onlinepowers.springmybatis.user.User">
        UPDATE OP_USER
        SET
        <if test="password != null">
            PASSWORD=#{password},
            EMAIL=#{email}
        </if>
        <if test="password == null">
            EMAIL=#{email}
        </if>
        WHERE ID=#{id};
    </update>
    <update id="updateUserDetail"
            parameterType="com.onlinepowers.springmybatis.user.User">
        UPDATE OP_USER_DETAIL
        SET
            ZIPCODE=#{zipcode},
            ADDRESS=#{address},
            ADDRESS_DETAIL=#{addressDetail},
            PHONE_NUMBER=#{phoneNumber},
            RECEIVE_SMS=#{receiveSms}
        WHERE USER_ID=#{userId};
    </update>
    <update id="updateUserRole"
            parameterType="com.onlinepowers.springmybatis.user.User">
        UPDATE OP_USER_ROLE
        SET
           AUTHORITY= IFNULL(#{authority}, 'ROLE_USER')
        WHERE USER_ID=#{userId};
    </update>


    <select id="getUserCountByLoginId" resultType = "INT">
        SELECT
            COUNT(*)
        FROM OP_USER
        WHERE LOGIN_ID = #{loginId}
    </select>
    <select id="getMaxPk" resultType = "INT">
        SELECT
            IFNULL(MAX(ID),0)
        FROM OP_USER
    </select>
    <select id="getUserByLoginId"  resultMap="userMap">
        SELECT
            ID,
            NAME,
            LOGIN_ID,
            PASSWORD,
            EMAIL,
            DATE_FORMAT(CREATED_DATE, '%Y/%m/%d %H:%i:%s') AS CREATED_DATE,
            ZIPCODE,
            ADDRESS,
            ADDRESS_DETAIL,
            PHONE_NUMBER,
            RECEIVE_SMS,
            AUTHORITY
        FROM
            OP_USER U
                INNER JOIN OP_USER_DETAIL UD ON U.ID = UD.USER_ID
                INNER JOIN OP_USER_ROLE AS UR ON UD.USER_ID = UR.USER_ID
        WHERE LOGIN_ID=#{loginId}
    </select>
</mapper>