<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlinepowers.springmybatis.user.UserMapper">
    <resultMap id="userMap" type="com.onlinepowers.springmybatis.user.UserDto">
        <id column="ID" property="id" />
        <result column="NAME" property="userName" />
        <result column="LOGIN_ID" property="loginId" />
        <result column="PASSWORD" property="userPw" />
        <result column="EMAIL" property="userEmail" />
        <result column="CREATED_DATE" property="userDate" />

        <result column="ZIPCODE" property="zipcode" />
        <result column="ADDRESS" property="address" />
        <result column="ADDRESS_DETAIL" property="addressDetail" />
        <result column="PHONE_NUMBER" property="phoneNumber" />
        <result column="RECEIVE_SMS" property="receiveSms" />
    </resultMap>


    <select id="getCount" resultType="int"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        SELECT COUNT(*) FROM OP_USER
        <include refid="search" />
    </select>

    <select id="getUserList" resultMap="userMap"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        SELECT ID, NAME, LOGIN_ID,PASSWORD, EMAIL,
        DATE_FORMAT(CREATED_DATE, '%Y/%m/%d %H:%i:%s') CREATED_DATE,
        ZIPCODE, ADDRESS, ADDRESS_DETAIL,PHONE_NUMBER, RECEIVE_SMS
        FROM OP_USER AS A
        JOIN OP_USER_DETAIL AS B
        ON A.ID = B.USER_ID
        ORDER BY ID DESC
        <include refid="search" />
        <include refid="paging" />

    </select>

    <!--include sql문들-->
    <sql id="paging">
        LIMIT
        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </sql>

    <sql id="search">
    <if test="searchKeyword != null and searchKeyword != ''">
        <choose>
            <when test="searchType != null and searchType != ''">
                <choose>
                    <when test="'userName'.equals(searchType)">
                        WHERE NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="'loginId'.equals(searchType)">
                        WHERE LOGIN_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="'userEmail'.equals(searchType)">
                        WHERE EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </when>
            <otherwise>
                WHERE
                (
                NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                OR LOGIN_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                OR EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                )
            </otherwise>
        </choose>
    </if>
    </sql>

    <select id="getUser"  resultMap="userMap">
        SELECT ID, NAME, LOGIN_ID,PASSWORD, EMAIL,
        DATE_FORMAT(CREATED_DATE, '%Y/%m/%d %H:%i:%s') CREATED_DATE,
        ZIPCODE, ADDRESS, ADDRESS_DETAIL,PHONE_NUMBER, RECEIVE_SMS
        FROM OP_USER AS A
        JOIN OP_USER_DETAIL AS B
        ON A.ID = B.USER_ID
        WHERE ID=#{ID}
    </select>

    <delete id="deleteUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        DELETE FROM OP_USER
        WHERE id =#{id}
    </delete>

    <insert id="insertUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO OP_USER VALUES (0, #{userName}, #{userId} , #{userPw},
                                    #{userEmail},
                                    DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
                                    );
        INSERT INTO OP_USER_DETAIL VALUES ( 0,
                                             #{zipcode},
                                             #{address},
                                             #{addressDetail},
                                             #{phoneNumber},
                                             #{receiveSms}
                                         );
    </insert>

    <update id="updateUser"
            parameterType="com.onlinepowers.springmybatis.user.UserDto">
        UPDATE OP_USER SET NAME=#{userName},EMAIL=#{userEmail}
        WHERE ID=#{id}
    </update>

</mapper>