<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="pagination" th:if="${user != null and user.paginationInfo.totalRecordCount > 0}"
     th:object="${user.paginationInfo}" th:with="info=${user.paginationInfo}" aria-label="Page navigation"
     class="text-center">
    <ul class="pagination">
        <li th:if="*{hasPreviousPage == true}"
            th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${user.makeQueryString(1)} ]])">
            <a href="javascript:void(0)" class="btn_arr first" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li th:if="*{hasPreviousPage == true}"
            th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${user.makeQueryString(info.firstPage - 1)} ]])">
            <a href="javascript:void(0)" class="btn_arr prev" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
        </li>


        <li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}"
            th:class="${pageNo == user.currentPageNo} ? 'active'">
            <a href="javascript:void(0)" th:text="${pageNo}"  class="on"
               th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${user.makeQueryString(pageNo)} ]])">&andslope; </a>
        </li>


        <li th:if="*{hasNextPage == true}"
            th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${user.makeQueryString(info.lastPage + 1)} ]])">
            <a href="javascript:void(0)" class="btn_arr next"
               aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
        </li>
        <li th:if="*{hasNextPage == true}"
            th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${user.makeQueryString(info.totalPageCount)} ]])">
            <a href="javascript:void(0)" class="btn_arr last" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</div>

<css>

</css>
</html>
