<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
<div class="container" >
    <div class="page-header">
        <h1>회원 목록</h1>
    </div>
    <div class="pull-right" style="width: 100px; margin: 10px 0;">
        <a href="/register" class="btn btn-primary btn-block">등록</a>
    </div>
    <br /> <br /> <br />

    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr class="warning">
                    <th class="col-sm-1">No</th>
                    <th class="col-sm-5">이름</th>
                    <th class="col-sm-5">아이디</th>
                    <th class="col-sm-3">이메일</th>
                    <th class="col-sm-3">가입일</th>
                    <th class="col-sm-3">수정</th>
                    <th class="col-sm-3">삭제</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="userList : ${userList}">
                    <td th:text="${userList.id}"></td>
                    <td th:text="${userList.userName}"></td>
                    <td th:text="${userList.userId}"></td>
                    <td th:text="${userList.userEmail}"></td>
                    <td th:text="${userList.userDate}"></td>

                    <td><a th:href="'/edit/'+${userList.id}" th:text="수정"></a></td>
                    <td>
                        <!-- 삭제 -->
                        <form id="delete-form" th:action="@{'/delete/'+${userList.id}}" method="post">
                            <button id="delete-btn">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $("#delete-btn").click(function(){
        if(confirm("정말 삭제하시겠습니까 ?") == true){
            alert("삭제되었습니다.");
        }
        else if(confirm("정말 삭제하시겠습니까 ?") == false){
            alert("취소하였습니다.");
            return;
        }
    });
</script>

</body>
</html>