<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/basic">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<style>
    ul {
        list-style:none;
    }
    li {
        float: left;
    }
</style>
<body>
<div class="container" >
    <div class="page-header">
        <h1>회원 목록</h1>
    </div>
    <div class="pull-right" style="width: 100px; margin: 10px 0;">
        <a href="/register" class="btn btn-primary btn-block">등록</a>
    </div>
    <br /> <br /> <br />

    <!--검색영역-->
    <th:block layout:fragment="search">
        <nav th:replace="board/fragments/common :: search"></nav>
    </th:block>


    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr class="warning">
                    <th class="col-sm-1">No</th>
                    <th class="col-sm-5">이름</th>
                    <th class="col-sm-5">아이디</th>
                    <th class="col-sm-3">이메일</th>
                    <th class="col-sm-3">가입일</th>
                    <th class="col-sm-3">수정</th>
                    <th class="col-sm-3">삭제</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="userList : ${userList}">
                    <td th:text="${userList.id}"></td>
                    <td th:text="${userList.userName}"></td>
                    <td th:text="${userList.userId}"></td>
                    <td th:text="${userList.userEmail}"></td>
                    <td th:text="${userList.userDate}"></td>

                    <div class="" th:object="${user}">
                        <td><a th:href="|@{/edit/}${userList.id}*{makeQueryString(currentPageNo)}&id=${userList.id}|" th:text="수정"></a> </td>
                        <td><a th:href="|@{/delete/}${userList.id}*{makeQueryString(currentPageNo)}&id=${userList.id}|" th:text="삭제"></a> </td>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--페이징영역-->
    <th:block layout:fragment="paging">
        <nav th:replace="board/fragments/common :: pagination"></nav>
    </th:block>


</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }
    </script>
</th:block>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $("#delete-btn").click(function(){
        if(confirm("정말 삭제하시겠습니까 ?") == true){
            alert("삭제되었습니다.");
        }
        else{
            alert("취소하였습니다.");
            return false;
        }
    });
</script>

</body>
</html>