
    /*
       layout-default
    */
header {
    background: lightgray;
    height: 230px;
}

sidebar {
    background : #f2f4f7;
    float : left;
    width : 20%;
    height : 1000px;
    position : relative;
    top : 30px;
}
contentbar {
    float : right;
    width : 78%;
    height : 1000px;
    position : relative;
    top : 30px;
}

.btn{
    wid: 20%; background-color: darkslategrey; color: white;
    padding: 14px 20px; margin: 8px 0; border: none;
    border-radius: 4px; cursor: pointer; text-decoration: none;
}

/*
    opmanager/user/form
 */
input[type=text]{
    wid :45%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
    padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
    box-sizing: border-box; }

    input[type=password] {
        wid :45%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
        padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
        box-sizing: border-box; }

    input[type=submit] {
    wid: 50%; background-color: darkslategrey; color: white;
    padding: 14px 20px; margin: 8px 0; border: none;
    border-radius: 4px; cursor: pointer; text-decoration: none;
}
input[type=button], button[type=button] {
    wid: 20%; background-color: darkslategrey; color: white;
    padding: 14px 20px; margin: 8px 0; border: none;
    border-radius: 4px; cursor: pointer; text-decoration: none;
}

span>p {
    color: #bd2130;
}

/*
    opmanager/user/list
 */
ul {
    list-style:none;
}
li {
    float: left;
}
table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    wid: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    wid: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

input[type=submit]  {
    wid: 5%; background-color: darkslategrey; color: white;
    padding: 10px 10px; margin: 5px 0; border: none;
    border-radius: 3px; cursor:
        pointer;
}

td button[type=submit] {
    wid:50px; background-color: darkslategrey; color: white;
    padding: 10px 10px; margin: 5px 0; border: none;
    border-radius: 3px; cursor:
        pointer;
}

#edit {
    wid:25px; background-color: darkslategrey; color: white;
    padding: 10px 10px; margin: 10px 0; border: none;
    border-radius: 3px; cursor: pointer; text-decoration:none;
    position: relative; top:10px;
}

#search {
    float:left;
}

button[type=submit] {
    wid:100px; background-color: darkslategrey; color: white;
    padding: 10px 10px; margin: 5px 0; border: none;
    border-radius: 3px; cursor:
        pointer;
}

.reset {
    wid:70px; background-color: darkslategrey; color: white;
    padding: 10px 10px; margin: 5px 0; border: none;
    border-radius: 3px; cursor: pointer; display: inline-block;
}

#reset {
    text-decoration: none; color: white;  font-size: 13px;
    text-align:center;
}

#create {
    position : relative;
    right : 300px;
    bottom: 50px;
}

input[type=text]{
    wid: 15%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
    padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
    box-sizing: border-box;
}

select,option {
    wid: 10%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
    padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
    box-sizing: border-box;
}

.pagination .hide {
    display:block;height:0;wid:0;font-size:0;line-height:0;margin:0;padding:0;overflow:hidden;}

.pagination{padding:19px;text-align:center;}

.pagination a{display:inline-block;wid:23px;height:23px;padding-top:2px;vertical-align:middle;}

.pagination .btn_arr{text-decoration:none;}

.pagination .btn_arr, .on{margin:0 3px;padding-top:0;border:1px solid #ddd; border-radius:30px;

    /* background:url(/front/img/com/btn_pagination.png) no-repeat; */}

.on{padding-top:1px;height:22px;color:#fff;font-weight:bold;background:#000;}

.on:hover{text-decoration:none;}

/*
    opmanager/user/login
 */
    p>span>input[type=text]{
        width: 45%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
        padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
        box-sizing: border-box; }
    p>span>input[type=password]{
        width: 45%; /*입력 칸 (input field) 의 폭을 지정하기 위해, 폭 속성 (width property) 를 사용하였습니다.*/
        padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px;
        box-sizing: border-box; }

    p>span>input[type=submit] {
        width: 50%; background-color: darkslategrey; color: white;
        padding: 14px 20px; margin: 8px 0; border: none;
        border-radius: 4px; cursor: pointer; text-decoration: none;
    }
    p>span>input[type=button], button[type=button] {
        width: 20%; background-color: darkslategrey; color: white;
        padding: 14px 20px; margin: 8px 0; border: none;
        border-radius: 4px; cursor: pointer; text-decoration: none;
    }
